## Final Project Submission

Please fill out:
* Student name: Timothy M. Ikiao
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: Brian Chacha
* Blog post URL:

# Your code here - remember to use markdown cells for comments as well!

# Aircraft Safety 
We shall use National Transportation Safety Board (1962 - 2023) civil aviation data to achieve our objectives

## Objective
- Determine the lowest risk aircraft for a new business endeavor
- Incorporate information on purchasing and operating aircraft for commercial and private enterprises where available
- Draft actionable insights for new head of aviation division to decide which aircraft to purchase

In [218]:
#import pandas
import pandas as pd

#import the data set
av_data = pd.read_csv(r'C:\Users\adamin\Documents\Moringa\phase_one\Phase_one_project\dsc-phase-1-project-v3\data\Aviation_Data.csv')

#View the first five rows to begin understanding the dataset
av_data.head()

c:\Users\adamin\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [219]:
#View the last five rows to understand teh dataset
av_data.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [220]:
# Explore the dataset
av_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [221]:
"""
The data is loaded into a pandas data frame under the variable 'av_data'
Data set has 31 columns with 90348 entries (rows)
Numerous columns have missing data with the exception of column 1 (Investigation type) where all the rows in the column have data.

"""

"\nThe data is loaded into a pandas data frame under the variable 'av_data'\nData set has 31 columns with 90348 entries (rows)\nNumerous columns have missing data with the exception of column 1 (Investigation type) where all the rows in the column have data.\n\n"

In [222]:
av_data.describe() #for added description of numeric columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [223]:
av_data.columns  #Check the description of the columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

## 1. Data Cleaning
    a. Check for and remove duplicates

As mentioned above, numerous rows have missing data.
We begin by cleaning this data to remove duplicates and resolve any missing data.

In [224]:
#Find the summation of duplicated rows
print(f"There are {av_data.duplicated().sum()} duplicated rows.")

There are 1390 duplicated rows.

In [225]:
av_data[av_data.duplicated()] #View some of the duplicated data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
64050,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64552,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89956,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90004,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90010,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90031,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90097,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
""" 
Duplicated data appears to be mostly blank except for the investigation type so these duplicated rows can be safely dropped without affecting data integrity
"""

' \nDuplicated data appears to be mostly blank except for the investigation type so these duplicated rows can be safely dropped without affecting data integrity\n'

In [227]:
cleaned_av_data.duplicated().sum() #Confirm that there are no more duplicated rows.

0

In [228]:
cleaned_av_data = av_data.drop_duplicates()  #Removes the duplicated data identified above

cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [229]:
""" 
After cleaning the data, columns remain as 31, rows are 88958 compared to 90348 previously.
We then confirmed that there are no remaining duplicated rows
"""

' \nAfter cleaning the data, columns remain as 31, rows are 88958 compared to 90348 previously.\nWe then confirmed that there are no remaining duplicated rows\n'

b. Clean the Make and Model columns

In [230]:
cleaned_av_data['Make'].unique()

array(['Stinson', 'Piper', 'Cessna', ..., 'JAMES R DERNOVSEK',
       'ORLICAN S R O', 'ROYSE RALPH L'], dtype=object)

In [231]:
# Check if it would have been possible to impute make from model
# cleaned_av_data['Model'].isnull().sum()

In [232]:
cleaned_av_data['Make'].isnull().sum()  #Check for no. of null or missing values

132


As the intention of our analysis is to provide recommendations of a particular make/ model of aircraft to purchase for the new business endeavour,
we need to make sure that our dataset has information on make and model. 
We can therefore remove rows without a make of aircraft.

In [233]:
#Drop rows with missing values in the 'Make' column
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Make'])

In [234]:
#Confirm the 'Make' column has no more missing values

cleaned_av_data['Make'].isnull().sum()

0

Our audience will also want particular models that are most safe.
We will therefore need data that also indicates the model of aircraft as a make may have multiple models.
Removing missing model data will enable us to further identify safe models of a particular make.

In [235]:
cleaned_av_data['Model'].unique()

array(['108-3', 'PA24-180', '172M', ..., 'ROTORWAY EXEC 162-F',
       'KITFOX S5', 'M-8 EAGLE'], dtype=object)

In [236]:
cleaned_av_data['Model'].value_counts().head(53)

152           2367
172           1756
172N          1164
PA-28-140      932
150            829
172M           798
172P           689
182            659
180            622
150M           585
PA-18          581
PA-18-150      578
PA-28-180      572
PA-28-161      569
PA-28-181      532
206B           524
737            489
PA-38-112      469
150L           461
G-164A         460
A36            450
G-164B         420
140            402
206            389
170B           389
172S           373
R44            361
PA-32-300      356
182P           356
PA-24-250      352
269C           341
PA-28R-200     335
PA-12          324
A188B          318
PA-23-250      311
177            296
7AC            295
SR22           288
M20J           287
185            286
A185F          285
PA-22-150      281
PA-31-350      280
PA28           279
7GCBC          279
R22            273
7ECA           267
182Q           266
150F           264
PA-25-235      261
210            260
369D           252
58             252
Name: Model, dtype: int64

In [237]:
#Get the sum of no. of missing values in the 'Model' column
cleaned_av_data['Model'].isnull().sum()

49

In [238]:
# Drop rows without missing model data
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Model'])

In [239]:
#Confirm that rows with no model have been dropped
cleaned_av_data['Model'].isnull().sum()

0

Further data exploration...

In [240]:
#Further Data Exploration of Investigation.Type column
cleaned_av_data['Investigation.Type'].unique()

array(['Accident', 'Incident'], dtype=object)

In [241]:
cleaned_av_data['Investigation.Type'].value_counts()

Accident    84937
Incident     3840
Name: Investigation.Type, dtype: int64

In [242]:
#Further data exploration of the Aircraft.Category column
cleaned_av_data['Aircraft.Category'].unique()

array([nan, 'Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Unknown', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

In [243]:
cleaned_av_data['Aircraft.Category'].value_counts()

Airplane             27580
Helicopter            3435
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [244]:
cleaned_av_data['Aircraft.Category'].value_counts().sum()

32245

In [245]:
cleaned_av_data['Aircraft.Category'].isnull().sum()

56532



The categorisation is important when understanding the different aircraft make and models, their safety and 
linking the aircraft to the target market any proposed business endeavour.

From the above further exploration, we find that the 'Aircraft.Category' column has 14 'Unknown' entries and 2 'UNK' entries.

However, when we look at the high number of null values in addition to unknown values, 
we realise that we cannot drop these without irrevocably altering the data.
We can however impute using data from the make and model column

c. Check the injury columns

'Total.Fatal.Injuries', Total.Serious.Injuries', 'Total.Minor.Injuries' and 'Total.Uninjured'.

In [246]:
#Find the no. of missing values in the injury columns
#'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured'
print(f"No. of Null values in 'Total.Fatal.Injuries' column are: {cleaned_av_data['Total.Fatal.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Serious.Injuries' column are: {cleaned_av_data['Total.Serious.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Minor.Injuries' column are: {cleaned_av_data['Total.Minor.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Uninjured' column are: {cleaned_av_data['Total.Uninjured'].isnull().sum()}")

No. of Null values in 'Total.Fatal.Injuries' column are: 11386
No. of Null values in 'Total.Serious.Injuries' column are: 12490
No. of Null values in 'Total.Minor.Injuries' column are: 11914
No. of Null values in 'Total.Uninjured' column are: 5897


The null values above likely indicate that there were no occurences of injury rather than that there are missing values.
We can therefore replace this with (0) especially if we later choose to sum the injury columns per row.

In [287]:
#Replace the missing values in respective injury columns with 0
cleaned_av_data['Total.Fatal.Injuries'] = cleaned_av_data['Total.Fatal.Injuries'].fillna(0)
cleaned_av_data['Total.Serious.Injuries'] = cleaned_av_data['Total.Serious.Injuries'].fillna(0)
cleaned_av_data['Total.Minor.Injuries'] = cleaned_av_data['Total.Minor.Injuries'].fillna(0)
cleaned_av_data['Total.Uninjured'] = cleaned_av_data['Total.Uninjured'].fillna(0)

In [289]:
#Confirm that there are no more missing values in respective columns
print(cleaned_av_data['Total.Fatal.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Serious.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Minor.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Uninjured'].isnull().sum())

0
0
0
0

The injury columns now have no missing values

In [290]:
cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88777 non-null  object
 1   Investigation.Type      88777 non-null  object
 2   Accident.Number         88777 non-null  object
 3   Event.Date              88777 non-null  object
 4   Location                88725 non-null  object
 5   Country                 88552 non-null  object
 6   Latitude                34347 non-null  object
 7   Longitude               34338 non-null  object
 8   Airport.Code            50213 non-null  object
 9   Airport.Name            52746 non-null  object
 10  Injury.Severity         87798 non-null  object
 11  Aircraft.damage         85605 non-null  object
 12  Aircraft.Category       32245 non-null  object
 13  Registration.Number     87502 non-null  object
 14  Make                    88777 non-null  object
 15  Model                   88777 non-null  object
 16  Amateur.Built           88678 non-null  object
 17  Number.of.Engines       82754 non-null  float64
 18  Engine.Type             81771 non-null  object
 19  FAR.Description         31936 non-null  object
 20  Schedule                12532 non-null  object
 21  Purpose.of.flight       82639 non-null  object
 22  Air.carrier             16609 non-null  object
 23  Total.Fatal.Injuries    88777 non-null  float64
 24  Total.Serious.Injuries  88777 non-null  float64
 25  Total.Minor.Injuries    88777 non-null  float64
 26  Total.Uninjured         88777 non-null  float64
 27  Weather.Condition       84338 non-null  object
 28  Broad.phase.of.flight   61683 non-null  object
 29  Report.Status           82442 non-null  object
 30  Publication.Date        73553 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [291]:
cleaned_av_data['Engine.Type'].unique()

array(['Reciprocating', nan, 'Turbo Fan', 'Turbo Shaft', 'Unknown',
       'Turbo Prop', 'Turbo Jet', 'None', 'Electric', 'Hybrid Rocket',
       'Geared Turbofan', 'LR', 'NONE', 'UNK'], dtype=object)

In [292]:
cleaned_av_data['Injury.Severity'].unique()

array(['Fatal(2)', 'Fatal(4)', 'Fatal(3)', 'Fatal(1)', 'Non-Fatal',
       'Incident', 'Fatal(8)', 'Fatal(78)', 'Fatal(7)', 'Fatal(6)',
       'Fatal(5)', 'Fatal(153)', 'Fatal(12)', 'Fatal(14)', 'Fatal(23)',
       'Fatal(10)', 'Fatal(11)', 'Fatal(9)', 'Fatal(17)', 'Fatal(13)',
       'Fatal(29)', 'Fatal(70)', 'Unavailable', 'Fatal(135)', 'Fatal(31)',
       'Fatal(256)', 'Fatal(25)', 'Fatal(82)', 'Fatal(156)', 'Fatal(28)',
       'Fatal(18)', 'Fatal(43)', 'Fatal(15)', 'Fatal(270)', 'Fatal(144)',
       'Fatal(174)', 'Fatal(111)', 'Fatal(131)', 'Fatal(20)', 'Fatal(73)',
       'Fatal(27)', 'Fatal(34)', 'Fatal(87)', 'Fatal(30)', 'Fatal(16)',
       'Fatal(47)', 'Fatal(56)', 'Fatal(37)', 'Fatal(132)', 'Fatal(68)',
       'Fatal(54)', 'Fatal(52)', 'Fatal(65)', 'Fatal(72)', 'Fatal(160)',
       'Fatal(189)', 'Fatal(123)', 'Fatal(33)', 'Fatal(110)',
       'Fatal(230)', 'Fatal(97)', 'Fatal(349)', 'Fatal(125)', 'Fatal(35)',
       'Fatal(228)', 'Fatal(75)', 'Fatal(104)', 'Fatal(229)', 'Fatal(80)',
       'Fatal(217)', 'Fatal(169)', 'Fatal(88)', 'Fatal(19)', 'Fatal(60)',
       'Fatal(113)', 'Fatal(143)', 'Fatal(83)', 'Fatal(24)', 'Fatal(44)',
       'Fatal(64)', 'Fatal(92)', 'Fatal(118)', 'Fatal(265)', 'Fatal(26)',
       'Fatal(138)', 'Fatal(206)', 'Fatal(71)', 'Fatal(21)', 'Fatal(46)',
       'Fatal(102)', 'Fatal(115)', 'Fatal(141)', 'Fatal(55)',
       'Fatal(121)', 'Fatal(45)', 'Fatal(145)', 'Fatal(117)',
       'Fatal(107)', 'Fatal(124)', 'Fatal(49)', 'Fatal(154)', 'Fatal(96)',
       'Fatal(114)', 'Fatal(199)', 'Fatal(89)', 'Fatal(57)', 'Fatal', nan,
       'Minor', 'Serious'], dtype=object)

In [293]:
cleaned_av_data['Injury.Severity'].value_counts()

Non-Fatal     67305
Fatal(1)       6159
Fatal          5248
Fatal(2)       3703
Incident       2214
              ...
Fatal(35)         1
Fatal(55)         1
Fatal(83)         1
Fatal(124)        1
Fatal(78)         1
Name: Injury.Severity, Length: 109, dtype: int64

In [294]:
cleaned_av_data['Injury.Severity'].value_counts().sum()

87798

In [295]:
cleaned_av_data['Injury.Severity'].isnull().sum()

979

There are 2459 null values, unavailable, nan in this column.
However, rather than dropping the rows with null values, we can impute these from the injury data.

In [296]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

d. Check the Number.of.Engines column

As information on operating the aircraft is part of the objectives, we need to clean the column on Number of engines and Engine type as this relates to ability to operate the aircraft.

In [297]:
cleaned_av_data['Number.of.Engines'].value_counts()

1.0    69538
2.0    11072
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

In [298]:
cleaned_av_data['Number.of.Engines'].value_counts().sum()

82754

In [299]:
cleaned_av_data['Number.of.Engines'].isnull().sum()

6023

In [300]:
cleaned_av_data['Engine.Type'].value_counts()

Reciprocating      69496
Turbo Shaft         3609
Turbo Prop          3390
Turbo Fan           2478
Unknown             2048
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
UNK                    1
Hybrid Rocket          1
Name: Engine.Type, dtype: int64

In [301]:
cleaned_av_data['Engine.Type'].value_counts().sum()

81771

In [302]:
cleaned_av_data['Engine.Type'].isnull().sum()

7006

e. Drop columns that are not relevant to our objectives

In [303]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')


The following columns are not relevant to our analysis based on the given objectives: 
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.damage', 'Registration.Number', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'

In [335]:
columns_to_drop = ['Event.Id', 'Investigation.Type', 'Accident.Number', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.damage', 'Registration.Number', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']

In [336]:
rel_av_data = cleaned_av_data.drop(columns=columns_to_drop)

In [337]:
rel_av_data.columns

Index(['Event.Date', 'Injury.Severity', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured'],
      dtype='object')

In [351]:
rel_av_data.head()

,Event.Date,Injury.Severity,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,1948-10-24,Fatal(2),NaN,Stinson,108-3,No,1.0,Reciprocating,2.0,0.0,0.0,0.0
1,1962-07-19,Fatal(4),NaN,Piper,PA24-180,No,1.0,Reciprocating,4.0,0.0,0.0,0.0
2,1974-08-30,Fatal(3),NaN,Cessna,172M,No,1.0,Reciprocating,3.0,0.0,0.0,0.0
3,1977-06-19,Fatal(2),NaN,Rockwell,112,No,1.0,Reciprocating,2.0,0.0,0.0,0.0
4,1979-08-02,Fatal(1),NaN,Cessna,501,No,NaN,NaN,1.0,2.0,0.0,0.0

## 2. Collate and Group data 

After initially exploring the data set, we can now group it based on columns to further understand the data.

In [ ]:
# Collate data on injuries by make_model
injury_data = rel_av_data[['Make', 'Model', 'Total.Fatal.Injuries', 
                           'Total.Serious.Injuries', 'Total.Minor.Injuries', 
                           'Total.Uninjured']]

injury_data.head()

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Stinson,108-3,2.0,0.0,0.0,0.0
1,Piper,PA24-180,4.0,0.0,0.0,0.0
2,Cessna,172M,3.0,0.0,0.0,0.0
3,Rockwell,112,2.0,0.0,0.0,0.0
4,Cessna,501,1.0,2.0,0.0,0.0

In [354]:
# Get injury totals
injury_totals = injury_data[['Total.Fatal.Injuries', 
                           'Total.Serious.Injuries', 'Total.Minor.Injuries', 
                           'Total.Uninjured']].sum()

print(injury_totals)

Total.Fatal.Injuries       50114.0
Total.Serious.Injuries     21346.0
Total.Minor.Injuries       27455.0
Total.Uninjured           441057.0
dtype: float64

In [356]:
#Group by Make and model

Make_Model_grp = injury_data.groupby(['Make', 'Model'])[['Total.Fatal.Injuries', 
                           'Total.Serious.Injuries', 'Total.Minor.Injuries', 
                           'Total.Uninjured']].sum().reset_index()

Make_Model_grp.sum()

Make                      107.5 Flying Corporation1200177MF LLC1977 Colf...
Model                     One Design DR 107G103PITTS MODEL 12STEEN SKYBO...
Total.Fatal.Injuries                                                  50114
Total.Serious.Injuries                                                21346
Total.Minor.Injuries                                                  27455
Total.Uninjured                                                      441057
dtype: object