## Final Project Submission

Please fill out:
* Student name: Timothy M. Ikiao
* Student pace: part time 
* Scheduled project review date/time: 
* Instructor name: Brian Chacha
* Blog post URL:

# Your code here - remember to use markdown cells for comments as well!

# Aircraft Safety 
We shall use the provided National Transportation Safety Board (1962 - 2023) civil aviation data to achieve our objectives.

## Objective
- Determine the lowest risk aircraft for a new business endeavor in commercial and private enterprises
- Incorporate information on purchasing and operating aircraft for commercial and private enterprises where available
- Draft actionable insights for new head of aviation division to decide which aircraft to purchase

In [1265]:
#import pandas
import pandas as pd

#import the data set
av_data = pd.read_csv(r'C:\Users\adamin\Documents\Moringa\phase_one\Phase_one_project\dsc-phase-1-project-v3\data\Aviation_Data.csv')

#View the first five rows to begin understanding the dataset
av_data.head()

c:\Users\adamin\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [1266]:
#View the last five rows to understand teh dataset
av_data.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [1267]:
# Explore the dataset
av_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [1268]:
"""
The data is loaded into a pandas data frame under the variable 'av_data'
Data set has 31 columns with 90348 entries (rows)
Numerous columns have missing data with the exception of column 1 (Investigation type) where all the rows in the column have data.

"""

"\nThe data is loaded into a pandas data frame under the variable 'av_data'\nData set has 31 columns with 90348 entries (rows)\nNumerous columns have missing data with the exception of column 1 (Investigation type) where all the rows in the column have data.\n\n"

In [1269]:
#av_data.describe() #for added description of numeric columns

In [1270]:
av_data.columns  #Check the description of the columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

## 1. Data Cleaning
    a. Check for and remove duplicate rows

As mentioned above, numerous rows have missing data.
We begin by cleaning this data to remove duplicates and resolve any missing data.

In [1271]:
#Find the summation of duplicated rows
print(f"There are {av_data.duplicated().sum()} duplicated rows.")

There are 1390 duplicated rows.

In [1272]:
av_data[av_data.duplicated()] #View some of the duplicated data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
64050,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64552,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89956,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90004,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90010,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90031,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90097,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1273]:
""" 
Duplicated data appears to be mostly blank except for the investigation type so these duplicated rows can be safely dropped without affecting data integrity
"""

' \nDuplicated data appears to be mostly blank except for the investigation type so these duplicated rows can be safely dropped without affecting data integrity\n'

In [1274]:
cleaned_av_data = av_data.drop_duplicates()  #Removes the duplicated data identified above

cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [1275]:
cleaned_av_data.duplicated().sum() #Confirm that there are no more duplicated rows.

0

In [1276]:
""" 
After cleaning the data, columns remain as 31, rows are 88958 compared to 90348 previously.
We then confirmed that there are no remaining duplicated rows
"""

' \nAfter cleaning the data, columns remain as 31, rows are 88958 compared to 90348 previously.\nWe then confirmed that there are no remaining duplicated rows\n'

b. Clean the Make and Model columns

In [1277]:
cleaned_av_data['Make'].unique()

array(['Stinson', 'Piper', 'Cessna', ..., 'JAMES R DERNOVSEK',
       'ORLICAN S R O', 'ROYSE RALPH L'], dtype=object)

In [1278]:
# Check if it would have been possible to impute make from model
# cleaned_av_data['Model'].isnull().sum()

In [1279]:
cleaned_av_data['Make'].isnull().sum()  #Check for no. of null or missing values

132


As the intention of our analysis is to provide recommendations of a particular make/ model of aircraft to purchase for the new business endeavour,
we need to make sure that our dataset has information on make and model. 
We can therefore remove rows without a make of aircraft.

In [1280]:
#Drop rows with missing values in the 'Make' column
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Make'])

In [1281]:
#Confirm the 'Make' column has no more missing values

cleaned_av_data['Make'].isnull().sum()

0

Our audience will also want particular models that are most safe.
We will therefore need data that also indicates the model of aircraft as a make may have multiple models.
Removing missing model data will enable us to further identify safe models of a particular make.

In [1282]:
cleaned_av_data['Model'].unique()

array(['108-3', 'PA24-180', '172M', ..., 'ROTORWAY EXEC 162-F',
       'KITFOX S5', 'M-8 EAGLE'], dtype=object)

In [1283]:
cleaned_av_data['Model'].value_counts().head(20)

152          2367
172          1756
172N         1164
PA-28-140     932
150           829
172M          798
172P          689
182           659
180           622
150M          585
PA-18         581
PA-18-150     578
PA-28-180     572
PA-28-161     569
PA-28-181     532
206B          524
737           489
PA-38-112     469
150L          461
G-164A        460
Name: Model, dtype: int64

In [1284]:
#Get the sum of no. of missing values in the 'Model' column
cleaned_av_data['Model'].isnull().sum()

49

In [1285]:
# Drop rows with missing 'Model' data
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Model'])

In [1286]:
cleaned_av_data['Model'].isnull().sum()

0

In [1287]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

The purpose of the new business endeavour is for commercial and private enterprises. We can therefore clean then filter the data using the 'Purpose.of.Flight' column to focus on data relevant to the above areas.

In [1288]:
cleaned_av_data['Purpose.of.flight'].isnull().sum()

6138

In [1289]:
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Purpose.of.flight'])

In [1290]:
cleaned_av_data['Purpose.of.flight'].isnull().sum()

0

In [1291]:
cleaned_av_data['Purpose.of.flight'].unique()

array(['Personal', 'Business', 'Instructional', 'Unknown', 'Ferry',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Other Work Use', 'Positioning',
       'Flight Test', 'Air Race/show', 'Air Drop',
       'Public Aircraft - Federal', 'Glider Tow',
       'Public Aircraft - Local', 'External Load',
       'Public Aircraft - State', 'Banner Tow', 'Firefighting',
       'Air Race show', 'PUBS', 'ASHO', 'PUBL'], dtype=object)

In [1292]:
cleaned_av_data = cleaned_av_data[cleaned_av_data['Purpose.of.flight'].isin(['Business', 'Instructional', 'Executive', 'Corporate', 'Executive/corporate', 'Ferry', 'Positioning', 'Skydiving'])]

In [1293]:
cleaned_av_data['Purpose.of.flight'].unique()

array(['Business', 'Instructional', 'Ferry', 'Executive/corporate',
       'Skydiving', 'Positioning'], dtype=object)

In [1294]:
cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17807 entries, 8 to 90341
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                17807 non-null  object
 1   Investigation.Type      17807 non-null  object
 2   Accident.Number         17807 non-null  object
 3   Event.Date              17807 non-null  object
 4   Location                17798 non-null  object
 5   Country                 17757 non-null  object
 6   Latitude                6539 non-null   object
 7   Longitude               6538 non-null   object
 8   Airport.Code            12033 non-null  object
 9   Airport.Name            12431 non-null  object
 10  Injury.Severity         17796 non-null  object
 11  Aircraft.damage         17559 non-null  object
 12  Aircraft.Category       5899 non-null   object
 13  Registration.Number     17656 non-null  object
 14  Make                    17807 non-null  object
 15  Model                   17807 non-null  object
 16  Amateur.Built           17798 non-null  object
 17  Number.of.Engines       17237 non-null  float64
 18  Engine.Type             17081 non-null  object
 19  FAR.Description         5925 non-null   object
 20  Schedule                290 non-null    object
 21  Purpose.of.flight       17807 non-null  object
 22  Air.carrier             2956 non-null   object
 23  Total.Fatal.Injuries    15403 non-null  float64
 24  Total.Serious.Injuries  15176 non-null  float64
 25  Total.Minor.Injuries    15305 non-null  float64
 26  Total.Uninjured         16841 non-null  float64
 27  Weather.Condition       17598 non-null  object
 28  Broad.phase.of.flight   13406 non-null  object
 29  Report.Status           17203 non-null  object
 30  Publication.Date        14671 non-null  object
dtypes: float64(5), object(26)
memory usage: 4.3+ MB

We'd like to filter the data to focus on data covering the last 20 years so that it can apply to aircraft that are still relatively available in the market, with current aviation equipment and which have a significant enough period of operation left even after purchase for this business endeavour.

In [1295]:
cleaned_av_data['Event.Date'] = pd.to_datetime(cleaned_av_data['Event.Date'], errors='coerce')
cleaned_av_data = cleaned_av_data[cleaned_av_data['Event.Date'] >= '2005-01-01']

In [1296]:
cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5316 entries, 58021 to 90341
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                5316 non-null   object
 1   Investigation.Type      5316 non-null   object
 2   Accident.Number         5316 non-null   object
 3   Event.Date              5316 non-null   datetime64[ns]
 4   Location                5316 non-null   object
 5   Country                 5316 non-null   object
 6   Latitude                5187 non-null   object
 7   Longitude               5186 non-null   object
 8   Airport.Code            4067 non-null   object
 9   Airport.Name            4046 non-null   object
 10  Injury.Severity         5305 non-null   object
 11  Aircraft.damage         5209 non-null   object
 12  Aircraft.Category       4735 non-null   object
 13  Registration.Number     5261 non-null   object
 14  Make                    5316 non-null   object
 15  Model                   5316 non-null   object
 16  Amateur.Built           5308 non-null   object
 17  Number.of.Engines       5047 non-null   float64
 18  Engine.Type             4691 non-null   object
 19  FAR.Description         4761 non-null   object
 20  Schedule                140 non-null    object
 21  Purpose.of.flight       5316 non-null   object
 22  Air.carrier             2956 non-null   object
 23  Total.Fatal.Injuries    4341 non-null   float64
 24  Total.Serious.Injuries  4266 non-null   float64
 25  Total.Minor.Injuries    4321 non-null   float64
 26  Total.Uninjured         4963 non-null   float64
 27  Weather.Condition       5130 non-null   object
 28  Broad.phase.of.flight   1117 non-null   object
 29  Report.Status           4712 non-null   object
 30  Publication.Date        4988 non-null   object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 1.3+ MB

Further data exploration...

In [1297]:
#Further Data Exploration of Investigation.Type column
cleaned_av_data['Investigation.Type'].unique()

array(['Accident', 'Incident'], dtype=object)

In [1298]:
cleaned_av_data['Investigation.Type'].value_counts()

Accident    5176
Incident     140
Name: Investigation.Type, dtype: int64

In [1299]:
#Further data exploration of the Aircraft.Category column
cleaned_av_data['Aircraft.Category'].unique()

array(['Helicopter', nan, 'Airplane', 'Glider', 'Balloon', 'Powered-Lift',
       'Gyrocraft', 'Weight-Shift', 'Powered Parachute', 'WSFT'],
      dtype=object)

In [1300]:
cleaned_av_data['Aircraft.Category'].value_counts()

Airplane             3842
Helicopter            749
Glider                 71
Balloon                29
Weight-Shift           26
Gyrocraft              11
Powered Parachute       5
WSFT                    1
Powered-Lift            1
Name: Aircraft.Category, dtype: int64

In [1301]:
cleaned_av_data['Aircraft.Category'].value_counts().sum()

4735

In [1302]:
cleaned_av_data['Aircraft.Category'].isnull().sum()

581

c. Check the injury columns

THe injury columns are most significant as they will be one of the determinants of the least risky aircraft from this dataset.

The injury columns are: 'Total.Fatal.Injuries', Total.Serious.Injuries', 'Total.Minor.Injuries' and 'Total.Uninjured'.

In [1303]:
#Find the no. of missing values in the injury columns
#'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured'
print(f"No. of Null values in 'Total.Fatal.Injuries' column are: {cleaned_av_data['Total.Fatal.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Serious.Injuries' column are: {cleaned_av_data['Total.Serious.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Minor.Injuries' column are: {cleaned_av_data['Total.Minor.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Uninjured' column are: {cleaned_av_data['Total.Uninjured'].isnull().sum()}")

No. of Null values in 'Total.Fatal.Injuries' column are: 975
No. of Null values in 'Total.Serious.Injuries' column are: 1050
No. of Null values in 'Total.Minor.Injuries' column are: 995
No. of Null values in 'Total.Uninjured' column are: 353


The null values above likely indicate that there were no occurences of the type of injury rather than that there are missing values.
We can therefore replace this with (0) especially if we later choose to sum the injury columns per row.

In [1304]:
#Replace the missing values in respective injury columns with 0
cleaned_av_data['Total.Fatal.Injuries'] = cleaned_av_data['Total.Fatal.Injuries'].fillna(0)
cleaned_av_data['Total.Serious.Injuries'] = cleaned_av_data['Total.Serious.Injuries'].fillna(0)
cleaned_av_data['Total.Minor.Injuries'] = cleaned_av_data['Total.Minor.Injuries'].fillna(0)
cleaned_av_data['Total.Uninjured'] = cleaned_av_data['Total.Uninjured'].fillna(0)

In [1305]:
#Confirm that there are no more missing values in respective columns
print(cleaned_av_data['Total.Fatal.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Serious.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Minor.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Uninjured'].isnull().sum())

0
0
0
0

The injury columns now have no missing values

In [1306]:
cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5316 entries, 58021 to 90341
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                5316 non-null   object
 1   Investigation.Type      5316 non-null   object
 2   Accident.Number         5316 non-null   object
 3   Event.Date              5316 non-null   datetime64[ns]
 4   Location                5316 non-null   object
 5   Country                 5316 non-null   object
 6   Latitude                5187 non-null   object
 7   Longitude               5186 non-null   object
 8   Airport.Code            4067 non-null   object
 9   Airport.Name            4046 non-null   object
 10  Injury.Severity         5305 non-null   object
 11  Aircraft.damage         5209 non-null   object
 12  Aircraft.Category       4735 non-null   object
 13  Registration.Number     5261 non-null   object
 14  Make                    5316 non-null   object
 15  Model                   5316 non-null   object
 16  Amateur.Built           5308 non-null   object
 17  Number.of.Engines       5047 non-null   float64
 18  Engine.Type             4691 non-null   object
 19  FAR.Description         4761 non-null   object
 20  Schedule                140 non-null    object
 21  Purpose.of.flight       5316 non-null   object
 22  Air.carrier             2956 non-null   object
 23  Total.Fatal.Injuries    5316 non-null   float64
 24  Total.Serious.Injuries  5316 non-null   float64
 25  Total.Minor.Injuries    5316 non-null   float64
 26  Total.Uninjured         5316 non-null   float64
 27  Weather.Condition       5130 non-null   object
 28  Broad.phase.of.flight   1117 non-null   object
 29  Report.Status           4712 non-null   object
 30  Publication.Date        4988 non-null   object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 1.3+ MB

In [1307]:
cleaned_av_data['Engine.Type'].unique()

array(['Turbo Shaft', 'Turbo Prop', 'Reciprocating', 'Turbo Jet',
       'Turbo Fan', nan, 'Unknown', 'None', 'Electric', 'LR', 'UNK'],
      dtype=object)

In [1308]:
cleaned_av_data['Injury.Severity'].unique()

array(['Non-Fatal', 'Fatal(1)', 'Fatal(2)', 'Fatal(3)', 'Fatal(4)',
       'Incident', 'Fatal(8)', 'Fatal(7)', 'Fatal(5)', 'Fatal(9)',
       'Fatal(6)', 'Unavailable', 'Fatal(154)', 'Fatal', nan, 'Minor',
       'Serious'], dtype=object)

In [1309]:
cleaned_av_data['Injury.Severity'].value_counts()

Non-Fatal      4411
Fatal           585
Fatal(2)         76
Fatal(1)         72
Minor            52
Incident         36
Fatal(3)         30
Serious          20
Fatal(4)          8
Fatal(5)          4
Unavailable       3
Fatal(7)          2
Fatal(8)          2
Fatal(6)          2
Fatal(154)        1
Fatal(9)          1
Name: Injury.Severity, dtype: int64

In [1310]:
cleaned_av_data['Injury.Severity'].value_counts().sum()

5305

In [1311]:
cleaned_av_data['Injury.Severity'].isnull().sum()

11

***There are 2459 null values, unavailable, nan in this column.
However, rather than dropping the rows with null values, we can impute these from the injury data.

In [1312]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

d. Check the Number.of.Engines column

As information on operating the aircraft is part of the objectives, we need to clean the column on Number of engines and Engine type as this relates to ability to operate the aircraft.

In [1313]:
cleaned_av_data['Number.of.Engines'].value_counts()

1.0    4129
2.0     834
0.0      70
3.0       7
4.0       5
8.0       2
Name: Number.of.Engines, dtype: int64

In [1314]:
cleaned_av_data['Number.of.Engines'].value_counts().sum()

5047

In [1315]:
cleaned_av_data['Number.of.Engines'].isnull().sum()

269

In [1316]:
cleaned_av_data['Engine.Type'].value_counts()

Reciprocating    3914
Turbo Shaft       297
Turbo Prop        273
Turbo Fan         157
Turbo Jet          34
None                8
Unknown             4
LR                  2
Electric            1
UNK                 1
Name: Engine.Type, dtype: int64

In [1317]:
cleaned_av_data['Engine.Type'].value_counts().sum()

4691

In [1318]:
cleaned_av_data['Engine.Type'].isnull().sum()

625

e. Drop columns that are not relevant to our objectives

In [1319]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [1320]:
cleaned_av_data['Aircraft.damage'].unique()

array(['Substantial', 'Destroyed', 'Minor', nan, 'Unknown'], dtype=object)

In [1321]:
cleaned_av_data['Aircraft.damage'].value_counts()

Substantial    4598
Destroyed       468
Minor           128
Unknown          15
Name: Aircraft.damage, dtype: int64

In [1322]:
cleaned_av_data['Aircraft.damage'].replace('Unknown', pd.NA, inplace=True)

In [1323]:
cleaned_av_data['Aircraft.damage'].isnull().sum()

122

In [1324]:
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Aircraft.damage'])

In [1325]:
cleaned_av_data['Aircraft.damage'].isnull().sum()

0

In [1326]:
cleaned_av_data['Aircraft.damage'].value_counts()

Substantial    4598
Destroyed       468
Minor           128
Name: Aircraft.damage, dtype: int64


Going forward, the following columns are not relevant to our analysis based on the given objectives: 
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.damage', 'Registration.Number', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'

In [1327]:
columns_to_drop = ['Event.Id', 'Investigation.Type', 'Accident.Number', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Registration.Number', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']

In [1328]:
#Drop non-relevant columns and assign relevant columns to variable'rel_av_data'
rel_av_data = cleaned_av_data.drop(columns=columns_to_drop)

In [1329]:
#Check that the relevant columns appear under the variable 'rel_av_data'
rel_av_data.columns

Index(['Event.Date', 'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category',
       'Make', 'Model', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured'],
      dtype='object')

In [1330]:
#Check unique attributes in this column
rel_av_data['Amateur.Built'].unique()

array([nan, 'No', 'Yes'], dtype=object)

The purpose of the new business endeavour is for commercial or private enterprise, not as a hobby or research and development purposes.
We can therefore remove data on amateur built aircraft or equipment.

In [1331]:
rel_av_data = rel_av_data[rel_av_data['Amateur.Built'].isin(['No'])]

In [1332]:
#Check no. of entries(rows) under each column
rel_av_data.count()

Event.Date                5041
Injury.Severity           5035
Aircraft.damage           5041
Aircraft.Category         4515
Make                      5041
Model                     5041
Amateur.Built             5041
Number.of.Engines         4821
Engine.Type               4486
Total.Fatal.Injuries      5041
Total.Serious.Injuries    5041
Total.Minor.Injuries      5041
Total.Uninjured           5041
dtype: int64

In [1333]:
#Check for duplicates in new data set
rel_av_data.duplicated().sum()

11

In [1334]:
# Drop duplicates and check if successful
rel_av_data = rel_av_data.drop_duplicates()
rel_av_data.duplicated().sum()

0

In [1335]:
#Remove unnecessary spacing and make all to be title case
rel_av_data['Make'] = rel_av_data['Make'].str.strip().str.title()
rel_av_data['Model'] = rel_av_data['Model'].str.strip().str.title()

Earlier, we viewed and cleaned the 'Aircraft.damage' column. The objective is to find the least risk aircraft, we should focus on data on aircraft that got minor damage in the accidents and incidents.

In [1336]:
rel_av_data = rel_av_data[rel_av_data['Aircraft.damage'].isin(['Minor'])]

In [1337]:
rel_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 58182 to 90254
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              126 non-null    datetime64[ns]
 1   Injury.Severity         125 non-null    object
 2   Aircraft.damage         126 non-null    object
 3   Aircraft.Category       108 non-null    object
 4   Make                    126 non-null    object
 5   Model                   126 non-null    object
 6   Amateur.Built           126 non-null    object
 7   Number.of.Engines       112 non-null    float64
 8   Engine.Type             108 non-null    object
 9   Total.Fatal.Injuries    126 non-null    float64
 10  Total.Serious.Injuries  126 non-null    float64
 11  Total.Minor.Injuries    126 non-null    float64
 12  Total.Uninjured         126 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 13.8+ KB

## 2. Collate and Group data 

After initially exploring the data set, initial cleaning and getting the data that will be relevant toward our objectives, we can now group this data based on columns to further understand the data.

In [1338]:
# Collate data on injuries by make_model
injury_data = rel_av_data[['Make', 'Model', 'Total.Fatal.Injuries', 
                           'Total.Serious.Injuries', 'Total.Minor.Injuries', 
                           'Total.Uninjured']]

injury_data.head()

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
58182,Cessna,402C,0.0,0.0,0.0,1.0
58289,Reims Aviation,F406,0.0,0.0,0.0,1.0
58796,Israel Aircraft Industries,1124A,0.0,0.0,0.0,7.0
59365,Air Tractor,At-401,0.0,0.0,0.0,1.0
59803,Cessna,172M,0.0,0.0,0.0,1.0

In [1340]:
injury_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 58182 to 90254
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    126 non-null    object
 1   Model                   126 non-null    object
 2   Total.Fatal.Injuries    126 non-null    float64
 3   Total.Serious.Injuries  126 non-null    float64
 4   Total.Minor.Injuries    126 non-null    float64
 5   Total.Uninjured         126 non-null    float64
dtypes: float64(4), object(2)
memory usage: 6.9+ KB

In [1347]:
#Add column that contains the total injuries per aircraft 

injury_data['Total.Injuries'] = injury_data[['Total.Fatal.Injuries',
                                             'Total.Serious.Injuries',
                                             'Total.Minor.Injuries']].sum(axis=1)

injury_data.head()

<ipython-input-1347-517cbe194760>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  injury_data['Total.Injuries'] = injury_data[['Total.Fatal.Injuries',

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Total.Injuries
58182,Cessna,402C,0.0,0.0,0.0,1.0,0.0
58289,Reims Aviation,F406,0.0,0.0,0.0,1.0,0.0
58796,Israel Aircraft Industries,1124A,0.0,0.0,0.0,7.0,0.0
59365,Air Tractor,At-401,0.0,0.0,0.0,1.0,0.0
59803,Cessna,172M,0.0,0.0,0.0,1.0,0.0

In [1342]:
#Make_Model_piv = pd.pivot_table(injury_data, values='Total.Injuries', index=['Make', 'Model'], aggfunc='sum')

#Make_Model_piv.head()

Total injuries includes 'Total.Fatal.Injuries' + 'Total.Serious Injuries' + 'Total.Minor.Injuries'

In [1349]:
#Create a group with the make model and total injuries ranked from least to most

Make_Model_grp = injury_data.groupby(['Make', 'Model'])['Total.Injuries'].sum().reset_index()

#Add a column that combines 'Make' and 'Model' to 'Aircraft Type'
Make_Model_grp['Aircraft Type'] = Make_Model_grp['Make'] + ' ' + Make_Model_grp['Model']

#Sort by Total.Injuries
Make_Model_grp = injury_data.sort_values(by='Total.Injuries')
Make_Model_grp.head(20)

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Total.Injuries
58182,Cessna,402C,0.0,0.0,0.0,1.0,0.0
75609,Eurocopter,As 350 B3,0.0,0.0,0.0,3.0,0.0
75606,Dehavilland,Dhc 2,0.0,0.0,0.0,1.0,0.0
75503,Cirrus Design Corp,Sr22,0.0,0.0,0.0,2.0,0.0
75439,Dehavilland,Dhc 6 200,0.0,0.0,0.0,1.0,0.0
75319,Raytheon Aircraft Company,400A,0.0,0.0,0.0,2.0,0.0
75055,Raytheon Aircraft Company,400A,0.0,0.0,0.0,7.0,0.0
74537,Piper,Pa 46 350P,0.0,0.0,0.0,1.0,0.0
73907,Iai,Gulfstream200,0.0,0.0,0.0,5.0,0.0
73665,Schweizer Aircraft Corp,G-164B,0.0,0.0,0.0,1.0,0.0
73585,Piaggio,P180,0.0,0.0,0.0,6.0,0.0
73077,Cessna,172F,0.0,0.0,0.0,1.0,0.0
75732,Beech,B100,0.0,0.0,0.0,1.0,0.0
73006,Swearingen,Sa226,0.0,0.0,0.0,3.0,0.0
72475,Cessna,560Xl,0.0,0.0,0.0,8.0,0.0
72263,Flight Design Gmbh,Ctls,0.0,0.0,0.0,1.0,0.0
72043,Cessna,560,0.0,0.0,0.0,5.0,0.0
71925,Cessna,182,0.0,0.0,0.0,5.0,0.0
71360,Embraer,Emb-500,0.0,0.0,0.0,3.0,0.0
71353,Gulfstream,G150,0.0,0.0,0.0,2.0,0.0

In [1350]:
Make_Model_grp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 58182 to 61486
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    126 non-null    object
 1   Model                   126 non-null    object
 2   Total.Fatal.Injuries    126 non-null    float64
 3   Total.Serious.Injuries  126 non-null    float64
 4   Total.Minor.Injuries    126 non-null    float64
 5   Total.Uninjured         126 non-null    float64
 6   Total.Injuries          126 non-null    float64
dtypes: float64(5), object(2)
memory usage: 7.9+ KB

In [1351]:
Make_Model_grp['Make'].unique().sum()

'CessnaEurocopterDehavillandCirrus Design CorpRaytheon Aircraft CompanyPiperIaiSchweizer Aircraft CorpPiaggioBeechSwearingenFlight Design GmbhEmbraerGulfstreamBombardierFlight DesignBombardier IncBoeingAero CommanderRaytheonColumbia Aircraft MfgReims Aviation S.A.Short BrosCirrusDassault-BreguetGulfstream AerospaceEnstromHawker Beechcraft Corp.Robinson HelicopterTaylorcraftMd Helicopters IncEclipse Aviation CorporationDiamond Aircraft Ind IncLearjetDassault AviationRaytheon Corporate JetsAir TractorIsrael Aircraft IndustriesReims AviationMcdonnell DouglasAgustaBellIndus Aviation IncMd HelicopterLiberty Aerospace IncorporatedShort Bros. & HarlandMd Helicopter IncMcdonnell Douglas HelicopterHeadGrobPowrachute CorpAerostar InternationalAndrewsAyresUltramagicPowrachute LlcUltramagic SaSchweizerPiper Aircraft, Inc.'