## Final Project Submission

Please fill out:
* Student name: Timothy M. Ikiao
* Student pace: part time 
* Scheduled project review date/time: 
* Instructor name: Brian Chacha
* Blog post URL:

# Your code here - remember to use markdown cells for comments as well!

# Aircraft Safety 
We shall use National Transportation Safety Board (1962 - 2023) civil aviation data to achieve our objectives

## Objective
- Determine the lowest risk aircraft for a new business endeavor in commercial and private enterprises
- Incorporate information on purchasing and operating aircraft for commercial and private enterprises where available
- Draft actionable insights for new head of aviation division to decide which aircraft to purchase

In [114]:
#import pandas
import pandas as pd

#import the data set
av_data = pd.read_csv(r'C:\Users\adamin\Documents\Moringa\phase_one\Phase_one_project\dsc-phase-1-project-v3\data\Aviation_Data.csv')

#View the first five rows to begin understanding the dataset
av_data.head()

c:\Users\adamin\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [115]:
#View the last five rows to understand teh dataset
av_data.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [116]:
# Explore the dataset
av_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [117]:
"""
The data is loaded into a pandas data frame under the variable 'av_data'
Data set has 31 columns with 90348 entries (rows)
Numerous columns have missing data with the exception of column 1 (Investigation type) where all the rows in the column have data.

"""

"\nThe data is loaded into a pandas data frame under the variable 'av_data'\nData set has 31 columns with 90348 entries (rows)\nNumerous columns have missing data with the exception of column 1 (Investigation type) where all the rows in the column have data.\n\n"

In [118]:
av_data.describe() #for added description of numeric columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [119]:
av_data.columns  #Check the description of the columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

## 1. Data Cleaning
    a. Check for and remove duplicates

As mentioned above, numerous rows have missing data.
We begin by cleaning this data to remove duplicates and resolve any missing data.

In [120]:
#Find the summation of duplicated rows
print(f"There are {av_data.duplicated().sum()} duplicated rows.")

There are 1390 duplicated rows.

In [121]:
av_data[av_data.duplicated()] #View some of the duplicated data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
64050,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64552,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89956,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90004,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90010,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90031,NaN,15-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90097,NaN,20-12-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
""" 
Duplicated data appears to be mostly blank except for the investigation type so these duplicated rows can be safely dropped without affecting data integrity
"""

' \nDuplicated data appears to be mostly blank except for the investigation type so these duplicated rows can be safely dropped without affecting data integrity\n'

In [123]:
cleaned_av_data = av_data.drop_duplicates()  #Removes the duplicated data identified above

cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [124]:
cleaned_av_data.duplicated().sum() #Confirm that there are no more duplicated rows.

0

In [125]:
""" 
After cleaning the data, columns remain as 31, rows are 88958 compared to 90348 previously.
We then confirmed that there are no remaining duplicated rows
"""

' \nAfter cleaning the data, columns remain as 31, rows are 88958 compared to 90348 previously.\nWe then confirmed that there are no remaining duplicated rows\n'

b. Clean the Make and Model columns

In [126]:
cleaned_av_data['Make'].unique()

array(['Stinson', 'Piper', 'Cessna', ..., 'JAMES R DERNOVSEK',
       'ORLICAN S R O', 'ROYSE RALPH L'], dtype=object)

In [127]:
# Check if it would have been possible to impute make from model
# cleaned_av_data['Model'].isnull().sum()

In [128]:
cleaned_av_data['Make'].isnull().sum()  #Check for no. of null or missing values

132


As the intention of our analysis is to provide recommendations of a particular make/ model of aircraft to purchase for the new business endeavour,
we need to make sure that our dataset has information on make and model. 
We can therefore remove rows without a make of aircraft.

In [129]:
#Drop rows with missing values in the 'Make' column
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Make'])

In [130]:
#Confirm the 'Make' column has no more missing values

cleaned_av_data['Make'].isnull().sum()

0

Our audience will also want particular models that are most safe.
We will therefore need data that also indicates the model of aircraft as a make may have multiple models.
Removing missing model data will enable us to further identify safe models of a particular make.

In [131]:
cleaned_av_data['Model'].unique()

array(['108-3', 'PA24-180', '172M', ..., 'ROTORWAY EXEC 162-F',
       'KITFOX S5', 'M-8 EAGLE'], dtype=object)

In [132]:
cleaned_av_data['Model'].value_counts().head(53)

152           2367
172           1756
172N          1164
PA-28-140      932
150            829
172M           798
172P           689
182            659
180            622
150M           585
PA-18          581
PA-18-150      578
PA-28-180      572
PA-28-161      569
PA-28-181      532
206B           524
737            489
PA-38-112      469
150L           461
G-164A         460
A36            450
G-164B         420
140            402
170B           389
206            389
172S           373
R44            361
PA-32-300      356
182P           356
PA-24-250      352
269C           341
PA-28R-200     335
PA-12          324
A188B          318
PA-23-250      311
177            296
7AC            295
SR22           288
M20J           287
185            286
A185F          285
PA-22-150      281
PA-31-350      280
7GCBC          279
PA28           279
R22            273
7ECA           267
182Q           266
150F           264
PA-25-235      261
210            260
58             252
369D           252
Name: Model, dtype: int64

In [133]:
#Get the sum of no. of missing values in the 'Model' column
cleaned_av_data['Model'].isnull().sum()

49

In [134]:
# Drop rows with missing 'Model' data
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Model'])

In [135]:
cleaned_av_data['Model'].isnull().sum()

0

In [136]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

The purpose of the new business endeavour is for commercial and private enterprises. We can therefore clean the data using the 'Purpose.of.Flight' column to focus on data relevant to the above areas.

In [137]:
cleaned_av_data['Purpose.of.flight'].isnull().sum()

6138

In [138]:
cleaned_av_data = cleaned_av_data.dropna(axis=0, subset=['Purpose.of.flight'])

In [139]:
cleaned_av_data['Purpose.of.flight'].isnull().sum()

0

In [140]:
cleaned_av_data['Purpose.of.flight'].unique()

array(['Personal', 'Business', 'Instructional', 'Unknown', 'Ferry',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Other Work Use', 'Positioning',
       'Flight Test', 'Air Race/show', 'Air Drop',
       'Public Aircraft - Federal', 'Glider Tow',
       'Public Aircraft - Local', 'External Load',
       'Public Aircraft - State', 'Banner Tow', 'Firefighting',
       'Air Race show', 'PUBS', 'ASHO', 'PUBL'], dtype=object)

In [141]:
cleaned_av_data = cleaned_av_data[cleaned_av_data['Purpose.of.flight'].isin(['Personal', 'Business', 'Instructional', 'Executive', 'Corporate', 'Executive/corporate', 'Ferry', 'Positioning', 'Skydiving'])]

In [142]:
cleaned_av_data['Purpose.of.flight'].unique()

array(['Personal', 'Business', 'Instructional', 'Ferry',
       'Executive/corporate', 'Skydiving', 'Positioning'], dtype=object)

In [143]:
cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67220 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                67220 non-null  object
 1   Investigation.Type      67220 non-null  object
 2   Accident.Number         67220 non-null  object
 3   Event.Date              67220 non-null  object
 4   Location                67204 non-null  object
 5   Country                 67115 non-null  object
 6   Latitude                26971 non-null  object
 7   Longitude               26962 non-null  object
 8   Airport.Code            42088 non-null  object
 9   Airport.Name            44024 non-null  object
 10  Injury.Severity         67193 non-null  object
 11  Aircraft.damage         66618 non-null  object
 12  Aircraft.Category       23611 non-null  object
 13  Registration.Number     66892 non-null  object
 14  Make                    67220 non-null  object
 15  Model                   67220 non-null  object
 16  Amateur.Built           67192 non-null  object
 17  Number.of.Engines       65153 non-null  float64
 18  Engine.Type             64316 non-null  object
 19  FAR.Description         23682 non-null  object
 20  Schedule                708 non-null    object
 21  Purpose.of.flight       67220 non-null  object
 22  Air.carrier             8608 non-null   object
 23  Total.Fatal.Injuries    58584 non-null  float64
 24  Total.Serious.Injuries  57674 non-null  float64
 25  Total.Minor.Injuries    58204 non-null  float64
 26  Total.Uninjured         62798 non-null  float64
 27  Weather.Condition       66496 non-null  object
 28  Broad.phase.of.flight   48868 non-null  object
 29  Report.Status           64704 non-null  object
 30  Publication.Date        55700 non-null  object
dtypes: float64(5), object(26)
memory usage: 16.4+ MB

We'd like to filter the data to focus on data covering the last 25 years so that it can apply to aircraft that are still relatively available in the market and which have a significant enough period of operation left even after purchase for this business endeavour.

In [144]:
cleaned_av_data['Event.Date'] = pd.to_datetime(cleaned_av_data['Event.Date'], errors='coerce')
cleaned_av_data = cleaned_av_data[cleaned_av_data['Event.Date'] >= '2000-01-01']

In [145]:
cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30054 entries, 47675 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                30054 non-null  object
 1   Investigation.Type      30054 non-null  object
 2   Accident.Number         30054 non-null  object
 3   Event.Date              30054 non-null  datetime64[ns]
 4   Location                30051 non-null  object
 5   Country                 30048 non-null  object
 6   Latitude                26958 non-null  object
 7   Longitude               26949 non-null  object
 8   Airport.Code            20891 non-null  object
 9   Airport.Name            21073 non-null  object
 10  Injury.Severity         30027 non-null  object
 11  Aircraft.damage         29766 non-null  object
 12  Aircraft.Category       20739 non-null  object
 13  Registration.Number     29766 non-null  object
 14  Make                    30054 non-null  object
 15  Model                   30054 non-null  object
 16  Amateur.Built           30028 non-null  object
 17  Number.of.Engines       28677 non-null  float64
 18  Engine.Type             27153 non-null  object
 19  FAR.Description         20810 non-null  object
 20  Schedule                395 non-null    object
 21  Purpose.of.flight       30054 non-null  object
 22  Air.carrier             8608 non-null   object
 23  Total.Fatal.Injuries    21539 non-null  float64
 24  Total.Serious.Injuries  20689 non-null  float64
 25  Total.Minor.Injuries    21225 non-null  float64
 26  Total.Uninjured         25768 non-null  float64
 27  Weather.Condition       29336 non-null  object
 28  Broad.phase.of.flight   11991 non-null  object
 29  Report.Status           27538 non-null  object
 30  Publication.Date        28513 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 7.3+ MB

Further data exploration...

In [146]:
#Further Data Exploration of Investigation.Type column
cleaned_av_data['Investigation.Type'].unique()

array(['Accident', 'Incident'], dtype=object)

In [147]:
cleaned_av_data['Investigation.Type'].value_counts()

Accident    29739
Incident      315
Name: Investigation.Type, dtype: int64

In [148]:
#Further data exploration of the Aircraft.Category column
cleaned_av_data['Aircraft.Category'].unique()

array([nan, 'Airplane', 'Helicopter', 'Blimp', 'Glider', 'Gyrocraft',
       'Balloon', 'Ultralight', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Unknown', 'WSFT', 'ULTR'], dtype=object)

In [149]:
cleaned_av_data['Aircraft.Category'].value_counts()

Airplane             18341
Helicopter            1439
Glider                 420
Weight-Shift           158
Gyrocraft              147
Balloon                111
Powered Parachute       88
Ultralight              20
WSFT                     8
Powered-Lift             2
Unknown                  2
Blimp                    2
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [150]:
cleaned_av_data['Aircraft.Category'].value_counts().sum()

20739

In [151]:
cleaned_av_data['Aircraft.Category'].isnull().sum()

9315



The categorisation is important when understanding the different aircraft make and models, their safety and 
linking the aircraft to the target market any proposed business endeavour.

From the above further exploration, we find that the 'Aircraft.Category' column has 14 'Unknown' entries and 2 'UNK' entries.

However, when we look at the high number of null values in addition to unknown values, 
we realise that we cannot drop these without irrevocably altering the data.
We can however impute using data from the make and model column

c. Check the injury columns

'Total.Fatal.Injuries', Total.Serious.Injuries', 'Total.Minor.Injuries' and 'Total.Uninjured'.

In [152]:
#Find the no. of missing values in the injury columns
#'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured'
print(f"No. of Null values in 'Total.Fatal.Injuries' column are: {cleaned_av_data['Total.Fatal.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Serious.Injuries' column are: {cleaned_av_data['Total.Serious.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Minor.Injuries' column are: {cleaned_av_data['Total.Minor.Injuries'].isnull().sum()}")
print(f"No. of Null values in 'Total.Uninjured' column are: {cleaned_av_data['Total.Uninjured'].isnull().sum()}")

No. of Null values in 'Total.Fatal.Injuries' column are: 8515
No. of Null values in 'Total.Serious.Injuries' column are: 9365
No. of Null values in 'Total.Minor.Injuries' column are: 8829
No. of Null values in 'Total.Uninjured' column are: 4286


The null values above likely indicate that there were no occurences of the type of injury rather than that there are missing values.
We can therefore replace this with (0) especially if we later choose to sum the injury columns per row.

In [153]:
#Replace the missing values in respective injury columns with 0
cleaned_av_data['Total.Fatal.Injuries'] = cleaned_av_data['Total.Fatal.Injuries'].fillna(0)
cleaned_av_data['Total.Serious.Injuries'] = cleaned_av_data['Total.Serious.Injuries'].fillna(0)
cleaned_av_data['Total.Minor.Injuries'] = cleaned_av_data['Total.Minor.Injuries'].fillna(0)
cleaned_av_data['Total.Uninjured'] = cleaned_av_data['Total.Uninjured'].fillna(0)

In [154]:
#Confirm that there are no more missing values in respective columns
print(cleaned_av_data['Total.Fatal.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Serious.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Minor.Injuries'].isnull().sum())
print(cleaned_av_data['Total.Uninjured'].isnull().sum())

0
0
0
0

The injury columns now have no missing values

In [155]:
cleaned_av_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30054 entries, 47675 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                30054 non-null  object
 1   Investigation.Type      30054 non-null  object
 2   Accident.Number         30054 non-null  object
 3   Event.Date              30054 non-null  datetime64[ns]
 4   Location                30051 non-null  object
 5   Country                 30048 non-null  object
 6   Latitude                26958 non-null  object
 7   Longitude               26949 non-null  object
 8   Airport.Code            20891 non-null  object
 9   Airport.Name            21073 non-null  object
 10  Injury.Severity         30027 non-null  object
 11  Aircraft.damage         29766 non-null  object
 12  Aircraft.Category       20739 non-null  object
 13  Registration.Number     29766 non-null  object
 14  Make                    30054 non-null  object
 15  Model                   30054 non-null  object
 16  Amateur.Built           30028 non-null  object
 17  Number.of.Engines       28677 non-null  float64
 18  Engine.Type             27153 non-null  object
 19  FAR.Description         20810 non-null  object
 20  Schedule                395 non-null    object
 21  Purpose.of.flight       30054 non-null  object
 22  Air.carrier             8608 non-null   object
 23  Total.Fatal.Injuries    30054 non-null  float64
 24  Total.Serious.Injuries  30054 non-null  float64
 25  Total.Minor.Injuries    30054 non-null  float64
 26  Total.Uninjured         30054 non-null  float64
 27  Weather.Condition       29336 non-null  object
 28  Broad.phase.of.flight   11991 non-null  object
 29  Report.Status           27538 non-null  object
 30  Publication.Date        28513 non-null  object
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 7.3+ MB

In [156]:
cleaned_av_data['Engine.Type'].unique()

array(['Turbo Fan', 'Reciprocating', 'Turbo Prop', 'Turbo Jet', 'Unknown',
       'Turbo Shaft', nan, 'None', 'Electric', 'LR', 'NONE', 'UNK'],
      dtype=object)

In [157]:
cleaned_av_data['Injury.Severity'].unique()

array(['Non-Fatal', 'Fatal(2)', 'Fatal(1)', 'Fatal(4)', 'Fatal(3)',
       'Incident', 'Fatal(5)', 'Fatal(6)', 'Unavailable', 'Fatal(11)',
       'Fatal(9)', 'Fatal(10)', 'Fatal(118)', 'Fatal(7)', 'Fatal(8)',
       'Fatal(154)', 'Fatal', nan, 'Minor', 'Serious'], dtype=object)

In [158]:
cleaned_av_data['Injury.Severity'].value_counts()

Non-Fatal      23662
Fatal           3352
Fatal(1)        1268
Fatal(2)         832
Fatal(3)         258
Minor            177
Fatal(4)         133
Incident         129
Serious          121
Fatal(5)          46
Fatal(6)          23
Fatal(10)          6
Unavailable        5
Fatal(7)           4
Fatal(8)           4
Fatal(11)          3
Fatal(9)           2
Fatal(154)         1
Fatal(118)         1
Name: Injury.Severity, dtype: int64

In [159]:
cleaned_av_data['Injury.Severity'].value_counts().sum()

30027

In [160]:
cleaned_av_data['Injury.Severity'].isnull().sum()

27

***There are 2459 null values, unavailable, nan in this column.
However, rather than dropping the rows with null values, we can impute these from the injury data.

In [161]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

d. Check the Number.of.Engines column

As information on operating the aircraft is part of the objectives, we need to clean the column on Number of engines and Engine type as this relates to ability to operate the aircraft.

In [162]:
cleaned_av_data['Number.of.Engines'].value_counts()

1.0    25632
2.0     2584
0.0      437
3.0       13
4.0        9
8.0        2
Name: Number.of.Engines, dtype: int64

In [163]:
cleaned_av_data['Number.of.Engines'].value_counts().sum()

28677

In [164]:
cleaned_av_data['Number.of.Engines'].isnull().sum()

1377

In [165]:
cleaned_av_data['Engine.Type'].value_counts()

Reciprocating    25238
Turbo Prop         722
Turbo Shaft        637
Turbo Fan          288
Unknown            130
Turbo Jet          113
None                15
Electric             5
NONE                 2
LR                   2
UNK                  1
Name: Engine.Type, dtype: int64

In [166]:
cleaned_av_data['Engine.Type'].value_counts().sum()

27153

In [167]:
cleaned_av_data['Engine.Type'].isnull().sum()

2901

e. Drop columns that are not relevant to our objectives

In [168]:
cleaned_av_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')


Going forward, the following columns are not relevant to our analysis based on the given objectives: 
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.damage', 'Registration.Number', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'

In [184]:
columns_to_drop = ['Event.Id', 'Investigation.Type', 'Accident.Number', 'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Aircraft.damage', 'Registration.Number', 'FAR.Description', 'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date']

In [185]:
#Drop non-relevant columns and assign relevant columns to variable'rel_av_data'
rel_av_data = cleaned_av_data.drop(columns=columns_to_drop)

In [186]:
#Check that the relevant columns appear under the variable 'rel_av_data'
rel_av_data.columns

Index(['Event.Date', 'Injury.Severity', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured'],
      dtype='object')

In [172]:
#Check no. of entries(rows) under each column
rel_av_data.count()

Event.Date                30054
Injury.Severity           30027
Aircraft.Category         20739
Make                      30054
Model                     30054
Amateur.Built             30028
Number.of.Engines         28677
Engine.Type               27153
Total.Fatal.Injuries      30054
Total.Serious.Injuries    30054
Total.Minor.Injuries      30054
Total.Uninjured           30054
dtype: int64

In [173]:
#Check for duplicates in new data set
rel_av_data.duplicated().sum()

50

In [174]:
# Drop duplicates and check if successful
rel_av_data = rel_av_data.drop_duplicates()
rel_av_data.duplicated().sum()

0

In [175]:
#Remove unnecessary spacing and make all to be title case
rel_av_data['Make'] = rel_av_data['Make'].str.strip().str.title()
rel_av_data['Model'] = rel_av_data['Model'].str.strip().str.title()

## 2. Collate and Group data 

After initially exploring the data set, initial cleaning and getting the data that will be relevant toward our objectives, we can now group this data based on columns to further understand the data.

In [176]:
# Collate data on injuries by make_model
injury_data = rel_av_data[['Make', 'Model', 'Total.Fatal.Injuries', 
                           'Total.Serious.Injuries', 'Total.Minor.Injuries', 
                           'Total.Uninjured']]

injury_data.head()

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
47675,Cessna,550,0.0,0.0,0.0,3.0
47676,Bellanca,Bl-17-30A,2.0,0.0,0.0,0.0
47677,Cessna,172G,0.0,0.0,0.0,2.0
47678,Cessna,172A,0.0,0.0,1.0,0.0
47679,Piper,Pa-46-310P,0.0,0.0,0.0,5.0

In [177]:
injury_data = injury_data.copy()

In [178]:
#Add column that contains the total injuries per aircraft 

injury_data['Total.Injuries'] = injury_data[['Total.Fatal.Injuries',
                                             'Total.Serious.Injuries',
                                             'Total.Minor.Injuries']].sum(axis=1)

injury_data.head(10)

,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Total.Injuries
47675,Cessna,550,0.0,0.0,0.0,3.0,0.0
47676,Bellanca,Bl-17-30A,2.0,0.0,0.0,0.0,2.0
47677,Cessna,172G,0.0,0.0,0.0,2.0,0.0
47678,Cessna,172A,0.0,0.0,1.0,0.0,1.0
47679,Piper,Pa-46-310P,0.0,0.0,0.0,5.0,0.0
47680,Piper,Pa-46-310P,0.0,0.0,0.0,2.0,0.0
47681,Cessna,421B,1.0,0.0,0.0,0.0,1.0
47684,Cessna,A185F,0.0,0.0,0.0,4.0,0.0
47685,Piper,Pa-24-180,2.0,1.0,0.0,0.0,3.0
47686,Eaa Chapter 229,Zenair 601,0.0,0.0,0.0,2.0,0.0

In [179]:
Make_Model_piv = pd.pivot_table(injury_data, values='Total.Injuries', index=['Make', 'Model'], aggfunc='sum')

Make_Model_piv.head()

                                            Total.Injuries
Make                     Model
107.5 Flying Corporation One Design Dr 107             1.0
1200                     G103                          1.0
177Mf Llc                Pitts Model 12                2.0
1977 Colfer-Chan         Steen Skybolt                 1.0
2003 Nash                Kitfox Ii                     1.0

Total injuries includes 'Total.Fatal.Injuries' + 'Total.Serious Injuries' + 'Total.Minor.Injuries'

In [181]:
#Create a group with the make model and total injuries 
Make_Model_grp = injury_data.groupby(['Make', 'Model'])['Total.Injuries'].sum().reset_index()

Make_Model_grp.head(100)

                        Make              Model  Total.Injuries
0   107.5 Flying Corporation  One Design Dr 107             1.0
1                       1200               G103             1.0
2                  177Mf Llc     Pitts Model 12             2.0
3           1977 Colfer-Chan      Steen Skybolt             1.0
4                  2003 Nash          Kitfox Ii             1.0
..                       ...                ...             ...
95            Aero Vodochody               L 39             0.0
96            Aero Vodochody              L 39C             2.0
97            Aero Vodochody               L-29             2.0
98            Aero Vodochody               L-39             2.0
99            Aero Vodochody              L-39C             2.0

[100 rows x 3 columns]

In [182]:
Make_Model_grp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8926 entries, 0 to 8925
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Make            8926 non-null   object
 1   Model           8926 non-null   object
 2   Total.Injuries  8926 non-null   float64
dtypes: float64(1), object(2)
memory usage: 209.3+ KB

In [183]:
Make_Model_grp['Make'].unique().sum()

"107.5 Flying Corporation1200177Mf Llc1977 Colfer-Chan2003 Nash2007 Savage Air Llc2021Fx3 Llc5 Rivers Llc781569 IncA Pair Of JacksA. Schleicher Gmbh & Co.Aaa Aircraft LeasingAaa Aircraft LlcAardema Robert JohnAb Sportine AviacijaAbbett GerryAbbey VictorAbbottAbernathyAc Mfg & Dev'T CoAckertAckland Jeffrey DeanAcroAcro SportAdamsAdams BalloonAdams Balloons LlcAdams Dennis AllenAdams Donald LAdams John R JrAdkinsAdlerAdolphsonAdrian George WAdventuraAdvertising Mgmt & ConsultingAermacchiAero AdventureAero At Sp ZooAero BristellAero CommanderAero Comp IncAero Design ElevenAero DesignsAero Eli ServiziAero Partners One LlcAero Smart Solutions IncAero Sp Z O OAero Sp Z O O (Gobosh)Aero Tek Inc.Aero Tek, Inc.Aero VodochodyAero Vodochody Aero WorksAero Vodochody Aero. WorksAero WorksAerofabAerofab IncAerofab Inc.Aerofab, Inc.AeromotAeroncaAeronca Aircraft CorporationAeronca-Bubeck IrvingAeronca/BubeckAeropraktAeroprakt Manufacturing Sp ZooAeropro CzAeropro Cz S R OAerosAeros LtdAeros Ltd/Skyranger AircraftAerospatialeAerospoolAerosport LtdAerosports ConnectionAerostarAerostar Acft Corp Of TexasAerostar Aircraft CorporationAerostar InternationalAerostar International IncAerostar International Inc.Aerostar S AAerostar, S.AAerotechnikAerotekAerotek IncAerotrekAerotrikeAerovodochodyAgetonAgin Jeffrey TAgustaAgusta Aerospace CorpAgusta BellAgusta SpaAhrens Gerd HAinsworthAir & SpaceAir & Space.Air Borne Windsports Pty. Ltd.Air CommandAir CreationAir Creation Usa LlcAir Creation/Sides Rick AAir CreationsAir Gulfstream Airlines IncAir TractorAir Tractor IncAir TrikesAirborneAirborne (Australia)Airborne AustraliaAirborne Extreme LlcAirborne WindsportAirborne WindsportsAirborne Windsports LtdAirborne Windsports Pty LtdAirbusAirbus HelicoptersAirbus Helicopters (EurocopteAirbus Helicopters IncAirbus/EurocopterAircoupeAircraft Industries A.S.Aircraft Mfg & Design LlcAircraft Mfg & Dev. Co.Aircraft Mfg & Dev. Co. (Amd)Aircraft Mfg & Development CoAircraft Mfg & Development Co.Aircraft Mfg & Dvlpmt CoAirframes UnlimitedAirgyroAirgyro Aviation LlcAirindusAirmax Construcoes AeronauticaAirplane FactoryAirplane Factory (Pty) LtdAirplane Factory (Pty) Ltd TheAirtimeAirtime Aircraft IncAkers DouglasAkro Tech Aviation Inc. GilesAlan WilsonAlaskan Air Adventures LlcAlbright StanAlex Michael Bantum/Tercel UsaAlexanderAlexander Duane AAlexander Schleicher Gmbh & CoAlexander Thomas PAlexander VagnerAlfredAlgimantas JonusasAliev BulentAlisportAlisport SrlAllan G PixleyAllardyce MichaelAllegroAllenAllen Jan AAllen Raymond HAllen RobertAllen W InksAllenbergAllensworthAlliantAlliant AviationAllisonAllstar PzlAllstar Pzl GliderAlonAlon AircoupeAlonsoAlthouseAlvarez Marvin RAlvin R. KemmetAmateur BuiltAmdAmenAmericanAmerican Air RacingAmerican Air Racing LtdAmerican AutogyroAmerican AviationAmerican Aviation Corp. (Aac)American BlimpAmerican Blimp Corp.American Blimp CorporationAmerican ChampionAmerican Champion (Acac)American Champion AircraftAmerican Champion Aircraft CorAmerican EurocopterAmerican Eurocopter CorpAmerican Eurocopter LlcAmerican General Acft CorpAmerican General AircraftAmerican Legand AircraftAmerican LegendAmerican Legend Aircraft CoAmerican Legend Aircraft Co.American Longevity CorpAmes Angier MAmirkhanian Shahram CharlAmmeterAms FlightAms-Flight D.O.O.Anatra Bart TAndelin (Pitts)AnderasAndersonAnderson Aircraft Corp.Anderson AndreasAnderson Darrell LAnderson John HAnderson R E/Abromavich L JAnderson RotorwayAndreAndre KostrzewaAndrew HaroldAndrewsAnglinAngus WattAnkerstar Bradley DAnkestar, Bradley D.AnnisAntaresAntares - BalabanAntares UsAntenor VelazcoAnthony J. BencivengaAnthony MattioliAntonovAntonovich Anton BApcoApex AircraftApolloApollo Aircraft IncApollo North America IncAppelApplebyApplegateArado-Flugzeugwerke GmbhArbc Inc Dba LindstrandArcherArctic Aircraft Co IncArctic Aircraft Co. Inc.Arctic Aircraft CompanyArctic Aircraft Company IncArctic Aircraft Corp.ArganbrightArgenceArgence Enas A.Argus AviationArimaArionArion Aircraft LlcArion Skys Open Sport AviationAriosto James JArmpriestArnet PereyraArnoldArnold J/Jones D LArnsArrow Falcon Exporters IncArrow Falcon Exporters Inc.Art Lee DelanoArterArter WarrenArthurArthur Lee BeerArthur P. MatthewsArtic Aircraft Corp.Arvold Jordon RAs+ (Russia)As+ LtdAscherAshcraftAsmusAsselynAston KinseyAtkinsAtkins JohnAtkinsonAttaway Robert HAubreyAudenriedAugustaAugustine David LAuneAurandtAusethAusterAustinAutogyroAutogyro GmbhAutogyro Usa LlcAve StephenAveko SroAventuraAveryAvery Jack HAverytAves Douglas JamesAvia StroitelAviamilanoAvianAvian BalloonAviastroitelAviastrottelAviatAviat AircraftAviat Aircraft IncAviat Aircraft Inc.Aviat Aircraft, Inc.Aviat IncAviateAviation Specialties UnlimitedAvidAvid AircraftAvions FaireyAvions Max HolsteAvions Mudry CieAvions Mudry Et CieAvions RobinAxell Charles LAyersAyresB??LkowBabcockBabenco Henry D.Bach Joseph EBachmanBaconBadeauxBaeBaggettBagley Curtis LynnBagnall Harold EBaileyBailey N MoyesBailey RobertBailey-Moyes MicrolightsBair Helicopters, Inc.BakengBakerBaker Bobby JBaker Eugene LBaker Victor RBaker WayneBaker, TimithyBal-Air Inc/Wayne John KBalcomb Kenneth C IiiBaldwinBalkemaBallhagen/ShyrockBalloon WorksBalony Kubicek SpolBalony Kubicek Spol SroBanghamBar/CurtissBarackman VansBarberBarber John ABarber Robert LBarber Warren DBarcheBarclay/VincentBardoucheBareiss David ABarger Jerry LBarger Steve MBarkerBarker A EBarnardBarnard/StancilBarnesBarnes Richard B/Howe MichaelBarnes Steven DBarnes Thomas ABarnessBarnettBarnett Allen SBarneyBarney Oldfield Aircraft CoBarnhartBarrBarronBarrowBarrow Ted ABarrowsBarry MaggioBartelsBartholomewBartleBassBatesBauer Thomas GBaughmanBayer OscarBayliss Milton A IiiBeach Baby AceBeagleBeagle AircraftBean R E/R B Weld IncBeardBearden BiplaneBearhawkBeatonBeaudry PhillipBeaverBecerraBeckerBecker Elmer LBeckert Bruce ABedeBeechBeechcraftBeechcraft CorporationBeersBehneBelairBelcherBelcher William B IiBelcher, Gerald CBelew Marshall D IiBelisle Thomas JBellBell BillBell HelicopterBell Helicopter TextronBell Helicopter Textron CanadaBell Shelby AeroBell Textron Canada LtdBell-CarsonBell-Transworld Helicopter CorBell-Transworld HelicoptersBell-WatsonBellancaBellanca Aircraft CorporationBellanca CitabriaBellerBellet James JBeltramBelyBenderBender JosephBenjamin Harold EBennettBennett Ra OliverBensen Aircraft Corp.Benton Fred DBereznakBerger Bernard MBerger Michael ABergmannBeriev Aircraft CompanyBerkeyBernhardBerrieBerryBerry DeanBert N NorrisBertagna JohnBertram William JBertrand/WarnerBesarickBest OffBetchanBetter Burn Llc/Startube DivBettsBevilacqua Jeffrey LBeyersBezinqueBibbeeBiceBice David EBielawaBiesemeier David IBilgriBill DarlingBillings/HumbyrdBilly AmersonBingham ChuckBinkley RichardBins TomBirchler BoydBirdBirtchBirxBishopBishop Thomas WBitton/Sport Flight AviationBiuro Projektowe B Bogumil BerBlackBlack ChristopherBlack DonaldBlairBlair-AmericanBlake D BarrymoreBlancBlanikBlevens GaryBlevins KamronBlondinBlucherBlue Oak Llc.Blue Side Up IncBlum MatthewBlumerBoamBoam LarryBoatright WaylonBob FrederickBobby MartinBobo Christopher JBoehlke Kevin PBoeingBoeing (Stearman)Boeing StearmanBoeing-VertolBoeve EarlBogle Absey CBokBolenbaugh Phillip WilliamBolger ScottBollingerBollinger Robert LBolstridge Wallace RBolton Ricky DBombardierBombardier CanadairBombardier IncBombardier, Inc.Bond Neal OBondeBordelonBordelon BruceBordiukBorgmanBoring Robert BurtonBorne Charles A IiiBoromBorom Marcus PBosco DonBosko Wr/Bosko CeBosonBosonettoBoswell John JBoucherBoughnerBourgeois-Avid FlyerBowen Christopher WBowerBowersBowers Fly BabyBowie RichardBowlesBowles ChrisBowleyBowmanBoyd BruceBoyd Kenneth CBoyd YoungBoykinBoykin B JBoykin Stephen VanceBoyle Black EagleBoyle Joseph EBozemanBr Legend LlcBrabandtBrackenBrackett And PeltzBrad J BatesBradford HainesBradleyBradley Roderick WBradshawBradshaw / MccauleyBrand, RichardBrandon EvansBrandtBrandt Leroy EBranhamBrantlyBrantly HelicopterBratton Experimental HomebuiltBraultBraunschmidtBray Verle G JrBrecher RotorwayBredlBreezer AircraftBreezyBreitBreiterBrenholt Larry RBrennanBrent W. BrownBrewerBrewer James MBrewsterBrewster FleetBrian P NorthBrian TurnerBriceBrice RonBrieglebBrinkerhuff Gerald GBristellBristolBritish AerospaceBritish Aircraft CorpBritish Aircraft Corp.British Aircraft Corp. (Bac)Britten-NormanBrm AeroBrm Aero SroBrochetti LouisBrockBrock SteinerBrockman William ABrokaw Bergon FBrookBrook Aaron DBrooksBroussardBrownBrown Floyd LBrown James WBrown JosephBrown Joseph B JrBrown MarkBrown MichaelBrown MitchBrown Narcisse ABrown Robert KBrown Thomas EBrown/MorrisonBrowning Gregory SBrownsBroylesBrubakerBruceBruce M BarrettBruce MooreBruce R ProuseBruct J MyersBrumbaugh B/Kasowski LBrumwellBrungerBrunzlick Larry RBrupbacher ChrisBryan C L/Labrash R DBryan Jerry RBryan S HappellBryant C CrosbyBryant Frederick MBryant/RhodusBryk Steven LBuchananBuchmannBuckerBucker JungmannBucker JungmeisterBuckeyeBuckeye AviationBuckeye Aviation IncBuckeye IndustriesBuckeye Industries IncBuckeye Powered Parachutes IncBuckmanBuddBuehlmann PeterBuhlBuhlmann HowardBulfer James GBullBulmerBumford-RoyerBumgarnerBunchBunkerBurak Stanley ABurdetteBurg Frederick SBurgessBurkBurkesBurkhart GrobBurkhart Grob FlugzeugbauBurkhart-GrobBurkholder Jimmy CBurleighBurnhamBurnsBurrBurr Andrew E XivBurrill Steven EBurtner Charles WBurtonBurton Dennis WBurton/BoytonBuschmann Robert EBuschmann/VanzeeBush Caddy UsaBushbyBushby AircraftBushmaster AircraftBussBusseyButcher Russell AButlerButler Aircraft CompanyButler John RButler RaymondButterhofButterhof Anthony JButtlesButzbachBuxbaum Mark EdwardBylerByrdByron J. MooreC A S AC A Tecnam SrlC.W CraneC.W. SmithCa Tecnam SrlCable-BreiglerCalcote Clarence ECaldwellCalhounCallahanCalvin Nate HCamairCameronCameron BalloonsCameron Balloons U SCameron Balloons UsCamillo AnnaloroCampbellCampbell DavidCampbell Earl S JrCampbell JohnCampbell W/Smiley JCanadairCanadair LtdCanadian Car & FoundryCanadian Light Acft Sales &SvcCanion Michael WCano DaveCantlonCantrell LwCanupCapCapellaCapella Aircraft Corporation (CapesCapital Holdings 226 LlcCapra, Salvatore OCaproni Vizzola Cos. Aero.CarbonCarillon John CCarlesimoCarlisleCarlo RobertCarlsonCarlson AircraftCarlton M. CadwellCarothersCarpenterCarpenter Bj/Carpenter SaCarrCarr B LCarr BryanCarrisCarrithers Carl LCarter Richard LCarter-JonesCartwright H Jr/Cottrell MCarverCasaCase Richard LCashenCashmer Philip MCasler ScottCassuttCastenCastleCatchot AngusCathawayCaughran TerryCaywoodCcx-2000-0081 LlcCecilCelier AviationCenter Charles CCentrairCentral CoptersCentral Missouri State UnivCentral Ohio Dragonfly ClubllcCeridonoCesnaCessnaCessna AircraftCessna Aircraft CoCessna Aircraft Co.Cessna EctorCessna/Air Repair IncCessna/WeaverCgsCgs AviationCgs Aviation LlcChad LewisChallengerChamberlainChamberlain GeraldChamberlin Victor WayneChampionChance VoughtChancey Gerry MChapel Robert BChapmanChapman Mark ACharlandCharlesCharles A BrazilCharles C. GillisCharles D WalkerCharles J NorrisCharles MaxtedCharles PeetCharles R KyleChatham Robert MChaudoin George SChech Aircraft Works Spol SroChekCherkasCheung David SChevrier, ArmandChiccoChicco Miguel EChilds Michael  AChilianChinook Plus 2ChistovChomoChr InternationalChris MitchellChris W KleenChristaviaChristenChristen IndustriesChristen Industries IncChristen Industries, Inc.Christensen SteveChristerChristianChristiansen Don E DoChristopherChristopher John PChristopher Jon BrownChristopher LordChristopher NorrisChristopher P GageChristopher TomChumsaeCianchetteCirrusCirrus DesignCirrus Design CorpCirrus Design Corp.Cirrus Design CorporationCismowskiCitabriaClabaugh Robert RClarence F. CallahanClarkClark James TClark/LokenClarkeClarke ColinClarke Colin AClassic Aircraft CorpClassic Aircraft Corp.Claus Rodney LClaxtonClayholdClaypoolClayton Gerald HClearwatersClebergClem William B IiiClementClement-KazmierczakCleveland Allan BCleveland OrsonClevenger Jimmie BCliffCliffordClifford E MasseyCliftonClopton Aero LlcCloseCloud Jeffrey FerrellCloud-Wag AeroClutton EricClyde K CarrierCo ZCo-Z Development CorpCobb InternationalCodding/FlunoCody HawkinsCohenColburnCole Paul BCollardColletteCollianderCollierCollinsCollins Robert SColonialColson/GoodbreadColtrinColumbiaColumbia AircraftColumbia Aircraft MfgColumbia Aircraft Mfg.Colyaer SlCombs Dale BCombs Earl WComeauCommanderCommander AircraftCommander Aircraft CoCommander Aircraft CompanyCommonwealthComp AirComp Air Inc. (Plambeck)Concannon MiltonCondorCondor Southern Powered ParachConeCone James AConnConner LeroyConradConrad MenzelConrad Theodore JConsolidated  Aeronautics Inc.Consolidated AeronauticsConsolidated Aeronautics IncConsolidated Aeronautics Inc.Consolidated Aeronautics, IncConsolidated Aeronautics, Inc.Consolidated VulteeConsolidated-VulteeConstrucciones AeronauticasConstrucciones Aeronauticas SaContinental Copters IncConvairConvair Div. Of Gen. DynamicsConway Philip JCookCookeCooperCooper Michael CCooper, David W.Corbeil ShawnCorben Baby AceCorken/GuilletCornett Steven MCornford Craig HCorsarioCortesy, John ECosentino Garey ACosmosCosmos Phase IiCostruzioni AeronauticheCostruzioni Aeronautiche TecnaCostruzioni AeronautichetecnamCote JamesCotterCotton Galen MCoulter Hugh ClarkeCouvillionCovell Kevin ScottCoveyCoxCox Clyde HCox John WileyCox ThorpeCox William MCoyoteCrabtreeCraigCraig A ReedCraig C WallsCraig D CarterCraig N. MoenCraig R. MerrillCraig W ShermanCrain Jac ACrawfordCrawford Alan RCrawford James RCreech JerryCreedCreek Michel WCreekmoreCreitz, Robert DCrimminsCriquet Aviation Bogota ColumbCrisenberyCrismanCroft Robert CCrokeCroman CorporationCrosleyCross David LCross-CappsCrowder Michael HCruzCsp Leasing LlcCub CrafterCub CraftersCub Crafters IncCub Crafters Inc.Cub Crafters, Inc.CubcrafterCubcraftersCubcrafters IncCubcrafters, IncCuevas, Orlando SCullisCulp John SCulverCulver GlennCulver, Aurther L.CunninghamCupaioleCurlCurnutt Elton ECurrentCurtisCurtis John PCurtis LundCurtis-Travel AirCurtis-WrightCurtissCurtiss MosesCurtiss WrightCurtiss-WrightCutlerCzechCzech Aircraft WorksCzech Aircraft Works Spol SroCzech SportCzech Sport AircraftCzech Sport Aircraft A SCzech Sport Aircraft A.S.Czech Sport Aircraft AsCzech Sportplanes SroD & D AircraftD & K AviationD'AmicoD'ApuzzoD-FlyDafoe Gerald WDahlman-DowerDahlstrom - Piel EmeraudeDaigneaultDakotaDale BerkbiglerDalin Ronald KDallmeyerDan JelinekDana A. MooreDanbrookDaniel A. ShapiroDaniel Anthony ProctorDaniel J. LeeDaniel J. ZoerbDaniel L PatrickDaniel R. LloydDanielsDaniels Alan LDankelman Peter GDantonioDantzer Lawrence LDarneyDarrell D. DuggerDarren M. VinelliDarrow StephenDarrow Stephen ADartDaryl BakerDassaultDassault AviationDassault FalconDassault-BreguetDassault/SudDaughtersDavenportDavenport (Van'S)David CadoretteDavid FitzgeraldDavid G. HolmesDavid JarrettDavid L ThompsonDavid S MeekDavid S RobbinsDavid ShellDavid ShotwellDavid W OakesDavidsonDavidson, Ronald A.Davidson-ThorpeDavisDavis BennyDavis Dan BDavis Daniel TDavis Donald MDavis Frank RDavis JohnDavis MarkDavis Michael JDavis/CrouchDavisonDay William LDayonDaytonDayton A BabcockDayton A DabbsDe HavillandDean David EDean Leslie NDean Patrick GDearmond ClintDebayDebus J / Mountain S / Bowes EDedeaux Gary GDeer/ReffaltDegairDegeliaDegrawDehavillandDehavilland CanadaDeitzDejagerDekkingaDelbridgeDelconte Emidio JDelf TimDell LawrenceDelwyn SchmidtDemmerDempsey Daniel MDenightDenisDenisar Richard ADenmarkDenneyDennis L ZumbaltDennis M. DurginDennis P. McgurkDenny AerocraftDenzerDerousseDesalvatore AlDesimoneDesousaDestinyDestiny Powered ParachutesDestiny Powered Parachutes LlcDetrick Donald GDeussen Alexander IiDeverDevereuxDevoeDevries Wm HDewsnup DaveDg FlugzeugbauDg Flugzeugbau GmbhDg-Flugzeugbau GmbhDgflugzeugbauDial David LDiamondDiamond Aicraft Industries IncDiamond AircraftDiamond Aircraft Ind GmbhDiamond Aircraft Ind IncDiamond Aircraft IndustriesDiamond Aircraft Industries InDiamond Aircraft Industry IncDickensonDickeyDickson Vans AircraftDidier Siffer (E-Ab)DiehlDiehl William ADiemert/RotorwayDieterich Robert ADietrich RyanDigimasDirks GlaserDistar Cz AsDitommasso-KeminskiDittenber Thomas JDiven RobertDivis S L/Waltrip A JDixDixonDobbs GeorgeDoddDoerr Raymond RDoktor FiberglasDombroski FrankDomeierDominiakDon W GuiceDonald A ChiassonDonald G StokesDonald K StovallDonegan BentonDonham Timothy JDoppelt Fredric FDormaier Monte RDormanDornierDornier GmbhDoshier Wilbert ADosser Dale ADotson William PDouble D EnterprisesDoubleday DonaldDouglasDouglas A. PohlDouglas Brian GDouglas D. TurnerDouglas K ThompsonDova AircraftDova Aircraft SroDowell VaughnDownerDoyleDoyle James EDoyle-MichaelDrakeDrake Ronald ADralle (Van'S Aircraft)Dratbe Shmiel AmirDressenDressen Donald LDreyerDriggers Quillan EDriverDrochakDrone Paul EDruckmanDruineDrzymalaDta SariDuenasDufault Mark VDuffyDuffy Russell ADuffy/WagnerDuke PaulDunn DavidDurfee FredDurling JamesDurrDusenberry Mark JDusseauDuttonDwayne SmithDwight LohrDwyer Michael DDyeDykasE NewtonE. J. HumphreyEaa BiplaneEaa Chapter 229Eaa Chapter 40EachonEads Pzl WarszaEads SocataEagleEagle Balloons Corp.Eagle R&D IncEagle RndEagleston John HEakle R Grandin JrEaland CharlesEamesEarl AllenEarnestEarthstar AircraftEasler KellyEastabrooks John TEaster William CEasterwood Mark WEastonEatonEberleEberle John SEbersoleEcckerEckenrode Carl JEckerEcksteinEclipseEclipse Aerospace IncEclipse AviationEclipse Aviation CorpEclipse Aviation CorporationEdgeEdgerlyEdra AeronauticaEdward M Van MorlanEdward R. SuggEdward W GrayEdwardsEdwards Douglas LEellsEfawEggleston DanielEiben TheodoreEichhorn Gary LEilandEipperEipper Formance IncEiriavion OyEklundEkornaas, FredElanElan/Glaser DirksEldredgeEldridge GeorgeElemdorfElkind BruceElkinsEllefsonEllenberger/WernerElliottElliott CirrusElliott Quad City UltralightEllisEllsbergEllsworthEllumax Leasing LlcElmwoodElvin Jack R JrElyEmbraerEmbraer Executive Aircraft IncEmbraer S AEmbraer S.A.Embraer-Empresa Brasileira DeEmeraudeEmersonEmery MarkEmigh AircraftEmmet SmithEmory B. WoodEmpsonEnbody FrankEndler Glasair/Glasair 1-TdEndless Skies Aviation Inc.Engineering & ResearchEngineering And ResearchEngle DavidEnstromEnstrom Helicopter CorpErcoErcoupeErcoupe (Eng & Research Corp.)Eric A MunzerErick Magno & Assoc PaErickson (Glasair)Erickson Air-Crane, Inc.Erickson Larry DEris E. ErvinErnest T ChristleyErnstErosErtz Mark GErvinErvin Rex HEsbenshadeEskildsenEslinger C W/Eslinger S MEspinalEsselstyn ChuckEugene L. CapozziEugene WellsEurocopterEurocopter DeutschlandEurocopter Deutschland GmbhEurocopter FranceEuropaEuropa Aviation IncEuropro CzEvans AircraftEvans James JayEvans Robert W SrEvektorEvektor AerotechnicEvektor AerotechnikEvektor Aerotechnik AsEvektor-AerotechnikEvektor-Aerotechnik A.S.Evektor-Aerotechnik AsEvensEvenson Roger JEverettEverett VidrineEversonEvo13 LlcEvolutionEvolution 19Evolution Air LlcEvolution Aircraft IncEvolution TrikesExcalibur AircraftExcel JetExp Acft Assn Wi Chapter 60ExperimentalExperimental Amat BuiltExplorer Aeronautique Inc.ExpressExpress AircraftExtraExtra FlugzeugbauExtra Flugzeugbau GmbhExtra Flugzeugproduktions-GmbhExtra Flugzeugproduktions-UndExtra Flugzeugrau GmbhFaganFahey William JFairchildFairchild FunkFairchild Heli-PorterFairchild HillerFairchild MerlinFairchild SwearingenFairchild(Howard)Falcon Safety Craft IncFalkFallFall MartinFaltin John RFantasy AirFantasy Air SroFarace Thomas ScottFarmer R BFarrandFarrellFarthing James W IiFaunceFayFdr601 LlcFechtnerFedersen WalterFehlner-SheltonFentonFeraca Edward MFerdonFerenceFerence John WFergusonFerguson AircraftFerguson William CFerkinFernandes Dale RFerreeFessenden AlfredFetherolfFetterman Lanny RFiebich Paul DeanFieldsFields MikeFinney ThorpFireflyFirefly BalloonsFirefly Balloons IncFirmFischerFishFisherFisher AeroFisher Flying ProductsFisher Harold RFisher Michael EFisher Michael HFittFitzFk LightplanesFlaggFlaglorFlaglor TomFleetFleetwood JackFleming Eldridge EFlight DesignFlight Design General Avn GmbhFlight Design GmbhFlight Design UsaFlightstarFlightstar IncFlights